<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Sign in</title>
</head>

<body>
  <center><div class="profile-actions">
    <a href="/profile"><button class="submit-button">HOME</button></a>
    
    <a href="/feed"><button class="submit-button">FEED</button></a>
  </div></center>
  <div class="main">
    <div class="login-container">
    <p class="signin-title" align="center">Change Password</p>
    <form class="login-form" action="/editProfile" method="post" align="center">
    <input class="password-input" type="password" align="center" placeholder="Current Password" name="currentPassword">
      <input class="password-input" type="password" align="center" placeholder="New Password" name="newPassword">
      <div><button class="submit-button" align="center" type="submit">Change</button></div>
    </form>    
  </div>
    </div>
     
</body>

</html>
</body>
</html>
