<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Profile Image</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <center><div class="profile-actions">
    <a href="/profile"><button class="submit-button">HOME</button></a>
    
    <a href="/feed"><button class="submit-button">FEED</button></a>
  </div></center>
  <!-- Main container for the login form -->
  <div class="login-container">
    <div class="profile-info">
        <!-- Profile picture -->
        <img class="profile-picture" src="/uploads/<%= user.profileImage %>" alt="Profile Picture">
        
        <!-- Form for uploading a new profile picture -->
        <form class="upload-form" action="upload" method="post" enctype="multipart/form-data">
          <input type="file" name="file">
          <button class="submit-button" type="submit">Upload</button>
        </form>
    </div>

  </div>
</body>
</html>
